*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.card{
    width: 90%;
    max-width: 760px;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 10px;
}
.card-left{
height: 90px;
width: 15%;
background-color: #cfc;
text-align: center;
line-height: 98px;
float: left;
color: #ffff
}
.card-right{
  float: left;
  width: 85%;
  height: 90px;
  padding: 5px 10px;
  background-color: #ffc
}
.card-right h3{
  margin-bottom: 20px;
}
.card-right p{
  background-color: rgba(0,0,0,0.5)
}
