.btn-default:active:focus,.btn-default:active:hover{
  background-color: rgba(0,0,0,0.5);

}
.btn:active:facus,btn:facus{
  outline: none;
}
.my-wrap{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media(min-width:760px){
  .my-wrap{
    flex-direction:row;
  }
}
.left-wrap{
  width:260px;
  background-color: #00bcdd;
  color: #fff;
  text-align: center;

}
.left-wrap h3{
  border-bottom: 2px solid #bada55;
  margin: 0;
  padding: 20px 0;
}
.left-wrap a{
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;

}
.left-wrap a:hover{
  background-color: rgba(0,0,0,0.3);
  text-decoration: none;
}
.Nav-Header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  height:80px;
  background-color: #cfc;
  padding: 0 5px;
  flex-shrink: 0;
}
.Nav-Header h3{
  margin: 0;
  color: #fff;
  font-weight: bold;
}
.Nav-Header button{
  padding: 10px 12px;
  color: #fff；currentColor;
  background-color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 8px

}
.nav-footer{
  flex-shrink: 0;
  height: 80px;
  background-color: #cfc;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.nav-footer a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid #000;
  flex-grow: 1;

}
.nav-footer a:last-child{
  border: none;
}
.main{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
}
.home-wrap{
  flex-grow: 1;
  background-image: url(./img/timg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
}
.home-cover{
  flex-grow: 1;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
}
.home-item{
 text-align: center;
 color:#fff;
 margin: 0 auto;
}
.about-wrap{
  flex-grow: 1;
  padding: 10px 10px;
}
.git-card{
  width: 100%;
  border: 1px solid rgba(0,0,0,0.12);
  box-shadow: rgba(0,0,0,0.3) 3px 3px 6px;
  text-align: center;
}
.git-card h2{
  margin: 0;
  color: #00bcd4;
}
.about-form{
  display: inline;
  width: 70%;
  max-width: 560px;

}
.show-git{
  display: flex;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 6px;
  justify-content:space-around;
  color:teal;
  font-size: 10px;
  padding: 10px 0;
}
.blog-card{
  padding: 0 10px;
  margin-bottom: 10px;
  max-width: 600px;
  margin: 0 auto;

}
.blog-wrap{
  flex-grow: 1;
}
.blog-index{
  background-color: teal;
  font-size: 24px;
  text-align: center;
  color: #fff;
  height: 60px;
  padding-top: 10px;
}
.blog-index span{
height: 40px;
border-radius: 50%;
border:2px solid #fff;
display: inline-block;
width:40px;
line-height: 40px;
}
.blog-content{
  box-shadow: rgba(0,0,0,0.3) 3px 3px 6px,rgba(0,0,0,0.3) 0px 1px 10px;
  padding: 10px;
  color: #666
}

.blog-content h3{
  margin: 10px 0;

}
